<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%=pageOwner.username%></h1>
    <% pageOwner.pantry.forEach((pantryItem)=>{%>
        <%= pantryItem.name %>
   <% }) %>
</body>
</html>